
<h1>Olá seja bem-vindo ao seu controle de estoque</h1>
<h4>Dashboard em construção</h4>
<a class="btn w-100 py-2 my-3 text-uppercase font-weight-bolder btn-roxo" asp-controller="Carrinho" asp-action="Details" asp-route-id="@ViewBag.usuarioId">VENDER</a>
<img src="~/img/Home/img3.png" />