<div class="py-5 px-4 row align-items-center">
    <div class="col-6">
        <img class="radius-2rem" src="~/img/Home/img1.png" />
    </div>
    <div class="col-6">
        <div class="col-10 offset-1">
            <h1>E-STOCK</h1>
            <h4>Melhore suas vendas</h4>
        </div>
    </div>
</div>

<div class="py-5 px-4 row align-items-center segunda-linha">
    <div class="col-6 text-white">
        <div class="col-10 offset-1">
            <h1 class="mb-3 text-uppercase">Sobre nós</h1>
            <p class="text-justify">
                Nós prezamos pelo desenvolvimento de novos e pequenos vendedores, pensando nisso,
                está aplicação web foi desenvolvida para te auxiliar no controle de seus produto e vendas, 
                para saber como usar <a class="font-weight-bolder text-white" asp-action="Privacy">clique aqui</a>
            </p>
        </div>
    </div>
    <div class="col-6">
        <img class="radius-2rem" src="~/img/Home/img2.png" />
    </div>
</div>