@{ 
    
}

<h2>Teste</h2>
<div class="col-6">
    <canvas id="myChart"></canvas>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script>
    
    $(document).ready(function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [1,2,3,4,5,6,7],
                datasets: [{
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: '#9272c1',
                    borderColor: '#9272c1',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
