body{
  background-color: #DCDCDC;
  background-image: url('../img/fundoimg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.CabecalhoListagem {
    background-color: var(--light-purple);
    color: ghostwhite;
}

.CabecalhoListagem * {
    border: none !important;
}

.Lista {
    background-color: ghostwhite;
    border: 1px solid #dcdcdc;
    border-style: solid none !important;
}
.LinksListagem {
  color:black;
}

.LinksListagem:hover{
    color: rgba(0, 0, 0, 0.8);
    text-decoration:none;
}

.bg-light-gray {
    background-color: var(--lighter-gray);
}

.text-light-gray {
    color: var(--gray) !important;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 40px;
}

/*#region Navbar */

li.dropdown:nth-last-of-type(n+2) {
    margin-left:auto;
}

li.nav-item:nth-child(-n + 5){
    margin:0rem 0.5rem 0rem 0.5rem;
}

#dropdownMenuButton #dropdownFornecedor{
    text-decoration: none;
    border: none;
}

.nav-link {
    color: black !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;    
}

@media (max-width: 600px){
    li.dropdown:nth-last-of-type(n+2) {
        margin-left: 0px;
    }
}

/*#endregion */