
   .btn-outline-secondary{
       width:100px;
       color: white;
   }

    .services{
        text-align: center;
    }
    svg{
        width: 20%;
        height:20%;
        padding: 46px/
    }
    .container {
        max-width: 960px;
    }

    .pricing-header {
        max-width: 700px;
    }
    .align-content-lg-center {
        text-align: center;
        display: inline-block;
       
    }
    .svg1{
        width: 20%;
        height: 20%;
    }
  
   


