@model TCCESTOQUE.Models.VendaItensModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout-Interno.cshtml";
}
<div id="moldura">
    <form class="cadastro" asp-action="ItemCarrinho">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="VendedorId"  value="@ViewBag.usuarioId" />
        <input type="hidden" asp-for="CarrinhoId"  value="@ViewBag.CarrinhoId" />
        <h1>
            Adicionar produto ao carrinho
        </h1>
        <div class="campo">
            <label asp-for="ProdutoId" ></label>
            <select asp-for="ProdutoId"  asp-items="ViewBag.ProdutoId"></select>
        </div>
        <div class="campo">
            <label asp-for="Quantidade" ></label>
            <input asp-for="Quantidade"  />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>
        <div class="just-right">
            <a class="btn-voltar" asp-controller="Carrinho" asp-action="Details" asp-route-id="@ViewBag.usuarioId"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="25" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
  <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
</svg></a>
            <input type="submit" value="Adicionar" class="btn-cadastrar" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
